body {
    background-image: url("imagens/fundo.png");
}

.barra {
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

h3 {
    color: rgb(112, 109, 109);
}

.sobre {
    background-color: rgb(236, 222, 204);
    border-image-outset: 0vmax;
}